@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/poppins-v20-latin-600.woff2') format('woff2');
}

:root {
    --groundColor: #e1b486;
    --accentColor: #8d7051;
    --redColor: #9f3434;
}

html,
body {
    background-color: var(--groundColor);
    color: var(--accentColor);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: 100%;
}


/*===========HEADER=============*/


h1 {
    font-size: 44px;
    background-color: var(--redColor);
    margin-top: 0;
    padding-top: 0px;
    padding: 10px;
    width: auto;
    max-width: 500px;
    color: var(--groundColor);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.299);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 460px) {
    h1 {
        font-size: 38px;
    }
}


/*===========MAIN=============*/


h2 {
    font-size: 30px;
}

.status-text.active {
    animation: scale 2s linear;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.clock {
    background-color: var(--accentColor);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    color: var(--groundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.299);
}

.clock h2 {
    font-size: 60px;
}

button {
    background-color: var(--redColor);
    color: var(--groundColor);
    border: none;
    width: 80px;
    height: 45px;
    font-size: 22px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.299);
    border-radius: 7px;
    margin-top: 50px;
    transition: .2s;
}

button:hover {
    opacity: .8;
}

button:active {
    transform: scale(.98);
    opacity: .6;
}


/*===========FOOTER=============*/


footer {
    color: var(--accentColor);
    padding-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 460px) {
    footer h2 {
        font-size: 24px;
    }

    button:active {
        transform: none;
        opacity: 1;
    }
}